
<% if comment.body.present? %>
	<div class="media">
	  <div class="media-left">
	    <a href="#">
	      <%= image_tag comment.user.avatar, class: "profile_image"  %>
	    </a>
	  </div>
	  <div class="media-body">
	   <h4 class="media-heading"><%= comment.user.first_name %></h4>
	  
	    <p><%= comment.body %>  </p>
	  </div>
	</div> 
<%end%>	